.main {
  background-color: white;
  position: fixed;
  right: 5%;
  top: 70px;
  width: 22rem;
  height: 80%;
  overflow: hidden;
  overflow-y: scroll;
  border-radius: 10px;
}
.oneNoti {
  margin: 5%;
  display: flex;
  border-bottom: 1px solid rgb(214, 214, 214);
}
.HeadnameNoti {
  margin-left: 2%;
  overflow: hidden;
}
.profileImg {
  min-width: 50px;
  max-width: 50px;
  border-radius: 100%;
}
.nameNoti {
  font-size: 15px;
  cursor: default;
}
.timeNoti {
  font-size: 12px;
  color: rgb(168, 168, 168);
  cursor: default;
}
