.main{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.left{
    background-color: #849E7B;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    // height: 100px;
    align-items: center;
    position: fixed;
    // top: 10%;
    left: 0;
    width: 50%;
    height: 100%;
    padding: 7%;
}
.moutainImg{
    width:70% ;

}
.attractImg{
    width: 70%;
}
.right{
    position: fixed;
    top: 20%;
    right: 10%;
    width: 30%;
    height: 100%;
    // padding-top: 5%;
}
.inputForm{
    display: flex;
    flex-direction: column;
    background-color: #849E7B;
    padding: 5%;
    border-radius: 10px;
}
.inputItem{
    border-radius: 10px;
    padding: 3%;
    margin-bottom: 10px;
}

.submitItem{
    background-color: #6C63FF;
    padding: 3%;
    margin-bottom: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    cursor: pointer;
}
.submitItem:hover{
    opacity: 0.9;
}
.submitText{
    color: white;
    font-size: 20px;
}
.submitItem:last-child{
    background-color: #FF6584;
    padding: 3%;
    margin-bottom: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.textInfo{
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 5%;
}