.oneUser {
  display: flex;
  justify-content: space-between;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 5px;
  margin-top: 5px;
}
.userzone {
  display: flex;
  align-items: center;
}
.profileImg {
  width: 40px;
  height: 40px;
  border-radius: 100%;
}
.btnFollow {
  display: flex;
  justify-content: center;
  margin: 10px;
  // padding: 1% 10%;
  align-items: center;
  background-color: transparent;
  border: 1px solid #575757;
  border-radius: 20px;
  cursor: pointer;
  width: 30%;
  height: 30px;
  user-select: none;
}

.clickBtnFollow {
  height: 30px;
  width: 30%;
  display: flex;
  justify-content: center;
  margin: 10px;
  // padding: 1% 10%;
  align-items: center;
  background-color: #575757;
  border-radius: 20px;
  cursor: pointer;
  user-select: none;
}

.nameText {
  font-size: 14px;
}
.usernameText {
  font-size: 10px;
}
