.topZoneProfile {
    width: 100%;
    height: 180px;
  }
  .allZone {
    background-color: white;
    overflow: hidden;
    width: 100%;
    height: 30%;
    border-radius: 10px;
    position: relative;
  }
  .underZoneProfile {
    width: 90px;
    height: 90px;
    position: absolute;
    top: 30%;
    margin-left: 25px;
    border-radius: 100px;
    overflow: hidden;
    border: 1px solid rgb(218, 218, 218);
  }
  .userImg {
    width: 100%;
    height: 100%;
    object-fit: fill;
  }
  .headUser {
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .headName {
    font-size: 20px;
    font-weight: bold;
  }
  .userName {
    font-size: 12px;
    color: #575757;
  }
  .followBtn {
    border: solid 1px #000;
    width: 20%;
    padding: 0px 10px;
    border-radius: 20px;
    user-select: none;
    display: flex;
    justify-content: center;
  }
  .followBtn:hover {
    background-color: #eee;
    cursor: pointer;
  }
  .unfollowBtn {
    display: flex;
    background-color: rgba(172, 172, 172, 0.867);
    justify-content: center;
    user-select: none;
    width: 20%;
    border: solid 1px #000;
    padding: 0px 10px;
    border-radius: 20px;
  }
  
  .unfollowBtn:hover {
    background-color: #eee;
    cursor: pointer;
  }
  .bioUser {
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 10px;
  }
  .bioText {
    font-size: 15px;
  }
  .birthdate {
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 10px;
    display: flex;
    align-items: flex-end;
  }
  .birthdateImg {
    width: 20px;
  }
  .birthdateText {
    margin-left: 5px;
    font-size: 10px;
  }
  .followZone {
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 10px;
    display: flex;
  }
  .onefollowZone {
    display: flex;
    margin-left: 20px;
  }
  .onefollowZone:first-child {
    margin-left: 0px;
  }
  .countUser {
    font-size: 12px;
    font-weight: 600;
    user-select: none;
  }
  .countUserText {
    margin-left: 2px;
    font-size: 12px;
    user-select: none;
  }
  